@{import('qrious@4.0.2/qrious.js')}
@{import('form.css')}

<main class="form-centered w-100 m-auto">
  <form id="form" class="needs-validation" novalidate>
    <h4 class="h4 mb-4 fw-normal">@(#otpVerifyAfterEnable)</h4>
    <canvas class="mb-2" id="qr"></canvas>
    @{component({
      _path: '~auth/components/auth_input_otp',
      class: "form-control unique",
    })}
    @{component({
      _path: '~auth/components/auth_input_check',
      label: "@(#trustDevice)",
      id: 'trustDevice',
      name: 'trustDevice',
    })}
    @{view('~components/form_errors')}
    <button class="btn btn-primary w-100 py-2" type="submit">@(#verify)</button>
    <div class="my-4 text-danger">
      <p class="small">@(#backupCodes)</p>
      <small id="backupCodes"></small>
    </div>
  </form>
  <script>
    try {
      const totpURI = localStorage.getItem('totpURI');
      var qr = new QRious({
        element: document.getElementById('qr'),
        value: totpURI,
        size: 200
      });
      localStorage.removeItem('totpURI');
    } catch(e) {
      handleError("@(#errorQrCode)", true);
    };
    
    try {
      const backupCodes = localStorage.getItem('backupCodes');
      let innerHTML = ``;
      const array = backupCodes.split(',');
      for (let i = 0; i < array.length; i ++) {
        innerHTML += `<div class="col">${array[i]}</div>`;
      };
      document.getElementById('backupCodes').innerHTML = innerHTML;
      localStorage.removeItem('backupCodes');
    } catch(e) {
      handleError("@(#errorBackupCodes)", true);
    };

    document.getElementById('form')
    .addEventListener('submit', function(e) {
      const formData = getFormData(e);
      if (!formData) return;
      const checkbox = document.getElementById('trustDevice');
      const trustDevice = checkbox?.checked ? true : false;
      http.post(
        '/api/auth/two-factor/verify-totp',
        {
          code: formData.get('otp'),
          trustDevice: trustDevice
        },
        async (data) => {
          @{if !props.isAuth}
          http.get(
            '/otp-enable-otp-only',
            async (data) => {
          @{endif}
              await handleSuccess(data, true);
              window.location.replace('/');
          @{if !props.isAuth}
            },
            (error) => handleError(error, true),
          );
          @{endif}
        },
        (error) => handleError(error, true),
      );
    });
  </script>
</main>