@{import('form.css')}

<main class="form-centered w-100 m-auto">
  <form id="form" class="needs-validation" novalidate>
    @{component({
      _path: '~auth/components/auth_input_name',
      disabled: true,
      class: 'form-control unique',
    })}
    @{component({
      _path: '~auth/components/auth_input_password',
      label: "@(#newPassword)",
      id: 'newPassword',
      name: 'newPassword',
      errorMessage: "@(#errorPassword)",
      class: 'form-control unique',
    })}
    <div class="form-floating has-validation d-none">
      <input
        type="text"
        class="form-control unique"
        style="background-color: var(--bs-secondary-bg); opacity: 1;"
        id="token"
        name="token"
        value="@{model.token}"
        required
        readonly
      />
    </div>
    @{view('~components/form_errors')}
    <button class="btn btn-primary w-100 py-2" type="submit">@(#reinit)</button>
    <p class="mt-5 fst-italic">
      @{component({
        _path: '~svg/go_back',
        class: 'bi ms-2 opacity-75'
      })}
      <a class="link-opacity-75" href="/login">@(#backLogin)</a>
    </p>
  </form>
  <script>
    document.getElementById('form')
    .addEventListener('submit', function(e) {
      const formData = getFormData(e);
      if (!formData) return;
      http.post(
        '/api/auth/reset-password',
        {
          newPassword: formData.get('newPassword'),
          token: formData.get('token')
        },
        (data) => handleSuccess(data, true),
        (error) => handleError(error, true),
      );
    });
  </script>
</main>