@{import('form.css')}

<main class="form-centered w-100 m-auto">
  <form id="form" class="needs-validation" novalidate>
    <h4 class="h4 mb-4 fw-normal">@(#otpVerifyEmail)</h4>
    @{component({
      _path: '~auth/components/auth_input_otp',
      class: "form-control unique",
    })}
    @{component({
      _path: '~auth/components/auth_input_check',
      label: "@(#trustDevice)",
      id: 'trustDevice',
      name: 'trustDevice',
    })}
    @{view('~components/form_errors')}
    <button class="btn btn-primary w-100 py-2" type="submit">@(#verify)</button>
  </form>
  <script>
    document.getElementById('form')
    .addEventListener('submit', function(e) {
      const formData = getFormData(e);
      if (!formData) return;
      const checkbox = document.getElementById('trustDevice');
      const trustDevice = checkbox?.checked ? true : false;
      http.post(
        '/api/auth/two-factor/verify-otp',
        {
          code: formData.get('otp'),
          trustDevice: trustDevice
        },
        async (data) => {
          http.get(
            '/otp-enable-email-only',
            async (data) => {
              await handleSuccess(data, true);
              window.location.replace('/');
            },
            (error) => handleError(error, true),
          );
        },
        (error) => handleError(error, true),
      );
    });
  </script>
</main>