@{import('grid.css')}
@{import('grid.js')}
@{import('gridOptions.js')}

<main>
  <!-- ROW (HEADER / TITLE / BUTTONS) -->
  <div class="pb-2 mb-3 border-bottom d-flex justify-content-between">
    <h2 class="h2">
      @(#texts)
    </h2>
    @{view('~components/grid/grid_switch_mode_btns')}
  </div>

  <!-- ROW (TABLE BUTTONS) -->
  <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center gap-1 pt-3 pb-2">
    <button
      type="button"
      class="btn btn-danger"
      aria-label="@(#delete)"
      onclick="deleteObjects()"
    >
      <div class="d-flex align-items-stretch">
        <i class="bi bi-trash me-2"></i>
        @(#delete)
      </div>
    </button>
  </div>

  <!--------------------------------------->
  <!-- TABLE HEADER (SEARCH AND BUTTONS) -->
  <!--------------------------------------->
  @{view('~components/grid/grid_header')}

  <!----------------------->
  <!-- TABLE BODY (DATA) -->
  <!----------------------->
  <!-- TABLE -->
  <div
    class="table-responsive small mt-3"
    id="tableContainer"
  >
    <table
      class="table table-striped table-hover table-sm"
      id="table"
      data-data="@{model.items}"
    ></table>
  </div>
  
  <!-- LISTVIEW -->
  <div
    class="container py-4 d-flex flex-column gap-2 d-none"
    id="listView"
  ></div>
  
  <!---------------------------------------------------------->
  <!-- TABLE FOOTER (PAGINATION & CHANGE LISTVIEW COLUMNS)  -->
  <!---------------------------------------------------------->
  @{view('~components/grid/grid_footer')}
</main>

<script>
  const table = document.getElementById('table');
  const data = JSON.parse(table.dataset.data);
  delete table.dataset.data;
  table.removeAttribute('data-data');
  
  let selectedObject = null;
  
  /*////////////////////////////////////////*/
  function deleteObjects() {
    if (!checkNotEmptyArray()) return;

    swal({
      title: "@(#objectsDeletion)",
      text: "@(#areYouSure): " + JSON.stringify(selectedObject),
      icon: "warning",
      buttons: ["@(#cancel)", true],
      dangerMode: true,
    })

    .then((isConfirmed) => {
      if (!isConfirmed) return;

      if (selectedObject.length > 1) {
        http.post(
          '/admin/bulk-delete',
          {
            items: JSON.stringify(selectedObject)
          },
          async (data) => {
            await handleSuccess(data, true);
            window.location.replace('/admin');
          },
          (error) => handleError(error, true),
        );
      }

      else
        http.delete(
          `/admin/delete/${selectedObject[0].id}`,
          async (data) => {
            await handleSuccess(data, true);
            window.location.replace('/admin');
          },
          (error) => handleError(error, true),
        );
    });
  };

  /*////////////////////////////////////////*/
  function deleteObjectWithDeleteKey(activeRow) {
    if (!activeRow) return;

    swal({
      title: "@(#objectsDeletion)",
      text: "@(#areYouSure): " + JSON.stringify(activeRow),
      icon: "warning",
      buttons: ["@(#cancel)", true],
      dangerMode: true,
    })

    .then((isConfirmed) => {
      if (!isConfirmed) return;
      http.delete(
        `/admin/delete/${activeRow.id}`,
        async (data) => {
          await handleSuccess(data, true);
          window.location.replace('/admin');
        },
        (error) => handleError(error, true),
      );
    });
  };
  
  /*////////////////////////////////////////*/
  function checkNotEmptyArray() {
    if (!Array.isArray(selectedObject) || selectedObject.length <= 0) {
      handleError("@(#errorSelectionEmpty)");
      return false;
    };
    return true;
  };
  
  /*////////////////////////////////////////*/
  new Grid({
    ...gridOptions,
    data: data,
    storageId: 'admin_messages',
    columns: [
      {
        id: 'from',
        name: "@(#from)"
      },
      {
        id: 'message',
        name: "@(#message)"
      },
      {
        id: 'createdAt',
        name: "@(#creationDate)"
      },
      { 
        id: 'updatedAt',
        name: "@(#modificationDate)"
      },
    ],
    keyNav: {
      deleteFn: deleteObjectWithDeleteKey,
    },
    selection: {
      ...gridOptions.selection,
      fn: (selection) => {
        selectedObject = selection;
        console.log(selectedObject);
      },
    },
    pagination: {
      ...gridOptions.pagination,
      page: @{model.page},
      limitPerPage: @{model.limit},
      pagesLabels: {
        page: "@(#page)",
        firstPage: "@(#firstPage)",
        lastPage: "@(#lastPage)",
        previousPage: "@(#previousPage)",
        nextPage: "@(#nextPage)",
      },
    },
  }).renderTable();
  
  /*////////////////////////////////////////*/
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener('hide.bs.modal', function (event) {
      if (document.activeElement) {
        document.activeElement.blur();
      };
    });
  });

  /*////////////////////////////////////////*/
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>