<head>
  <title>@(#appName)</title>
  
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=10"/>
  <meta name="robots" content="all,follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/svg" href="/icon.svg"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  @{import('bootstrap@5.3.8/bootstrap.min.css')}
  @{import('styles.css')}

  @{import('color-modes.css')}
  @{import('color-modes.js')}
  
  @{import('bootstrap-icons@1.13.1/bootstrap-icons.min.css')}

  @{import('bootstrap@5.3.8/bootstrap.bundle.min.js')}
  @{import('sweetalert@2.1.2/sweetalert.min.js')}
  
  @{import('http.js')}
  @{import('dom-builder.js')}
  @{import('scripts.js')}
</head>