<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="list" viewBox="0 0 16 16">
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
    ></path>
  </symbol>
</svg>

<!-- SITE HEADER -->
<header class="navbar flex-md-nowrap justify-content-start p-0 border-bottom">
  <!-- LEFT SIDE (SITE BRAND) -->
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-center border-end"
    href="/"
  >
    <div
      class="badge text-bg-primary text-center text-wrap fs-6"
      style="max-width: 8rem; margin: auto;"
    >@(#appName)</div>
  </a>
  
  <!-- RIGHT SIDE (LIST OF BUTTONS) -->
  <div class="flex-fill d-flex justify-content-between">
    <ul class="navbar-nav flex-row">
      <!-- TOGGLE MENU DESKTOP -->
      <li class="nav-item text-nowrap d-none d-md-flex">
        <button
          type="button"
          class="nav-link px-3"
          aria-label="@(#toggleMenuDesktop)"
          id="toggleMenuDesktop"
        >
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#list"></use>
          </svg>
        </button>
      </li>
    </ul>
    
    <ul class="navbar-nav flex-row">      
      <!-- TOGGLE MENU MOBILE -->
      <li class="nav-item text-nowrap d-md-none">
        <button
          type="button"
          class="nav-link px-3"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="@(#toggleMenuMobile)"
        >
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#list"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>

<script>
  document
    .getElementById('toggleMenuDesktop')
    .addEventListener('click', function () {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('transitioning');
      sidebar.classList.toggle('show');
      setTimeout(() => {
        sidebar.classList.toggle('transitioning');
      }, '700');
    });
</script>