<svg
  width="16px"
  height="16px"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="-4 0 32 32"
  xml:space="preserve"
  class="@{props.class}"
  aria-hidden="true"
  id="svg_go_forward"
>
  <g id="svg_go_forward_bgCarrier" stroke-width="0"></g>
  <g
    id="svg_go_forward_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></g>
  <g id="svg_go_forward_iconCarrier">
    <path
      d="M15.438 6.344v3.875c-16.563 0-15.406 15.438-15.406 15.438 3.25-10.781 15.406-7.656 15.406-7.656v3.969l8.563-7.938z"
    ></path>
  </g>
</svg>