@{import('grid.css')}
@{import('grid.js')}
@{import('gridOptions.js')}

<main>
  <!-- ROW (HEADER / TITLE / BUTTONS) -->
  <div class="pb-2 mb-3 border-bottom d-flex justify-content-between">
    <h2 class="h2">
      @(#texts)
    </h2>
    @{view('~components/grid/grid_switch_mode_btns')}
  </div>

  <!-- ROW (TABLE BUTTONS) -->
  @{component({
    _path: '~components/grid/grid_action_btns',
    newLink: '/texts/new',
    editFn: 'editObject()',
    deleteFn: 'deleteObjects()',
  })}

  <!--------------------------------------->
  <!-- TABLE HEADER (SEARCH AND BUTTONS) -->
  <!--------------------------------------->
  @{view('~components/grid/grid_header')}

  <!----------------------->
  <!-- TABLE BODY (DATA) -->
  <!----------------------->
  <!-- TABLE -->
  <div
    class="table-responsive small mt-3"
    id="tableContainer"
  >
    <table
      class="table table-striped table-hover table-sm"
      id="table"
      data-data="@{model.items}"
    ></table>
  </div>
  
  <!-- LISTVIEW -->
  <div
    class="container py-4 d-flex flex-column gap-2 d-none"
    id="listView"
  ></div>
  
  <!---------------------------------------------------------->
  <!-- TABLE FOOTER (PAGINATION & CHANGE LISTVIEW COLUMNS)  -->
  <!---------------------------------------------------------->
  @{view('~components/grid/grid_footer')}
</main>

<script>
  const table = document.getElementById('table');
  const data = JSON.parse(table.dataset.data);
  delete table.dataset.data;
  table.removeAttribute('data-data');
  
  let selectedObject = null;
  
  /*////////////////////////////////////////*/
  function editObject() {
    if (!checkNotEmptyArray()) return;

    if (selectedObject.length > 1)
      handleError("@(#errorOnlyOneObject)");

    else {
      const id = selectedObject[0].id;
      window.location.href = `/texts/edit/${id}`;
    };
  };
  
  /*////////////////////////////////////////*/
  function editObjectWithEnterKey(activeRow) {
    if (!activeRow) return;
    const id = activeRow.id;
    window.location.href = `/texts/edit/${id}`;
  };
  
  /*////////////////////////////////////////*/
  function deleteObjects() {
    if (!checkNotEmptyArray()) return;

    swal({
      title: "@(#objectsDeletion)",
      text: "@(#areYouSure): " + JSON.stringify(selectedObject),
      icon: "warning",
      buttons: ["@(#cancel)", true],
      dangerMode: true,
    })

    .then((isConfirmed) => {
      if (!isConfirmed) return;

      if (selectedObject.length > 1) {
        http.post(
          '/texts/bulk-delete',
          {
            items: JSON.stringify(selectedObject)
          },
          async (data) => {
            await handleSuccess(data, true);
            window.location.replace('/texts');
          },
          (error) => handleError(error, true),
        );
      }

      else
        http.delete(
          `/texts/delete/${selectedObject[0].id}`,
          async (data) => {
            await handleSuccess(data, true);
            window.location.replace('/texts');
          },
          (error) => handleError(error, true),
        );
    });
  };

  /*////////////////////////////////////////*/
  function deleteObjectWithDeleteKey(activeRow) {
    if (!activeRow) return;

    swal({
      title: "@(#objectsDeletion)",
      text: "@(#areYouSure): " + JSON.stringify(activeRow),
      icon: "warning",
      buttons: ["@(#cancel)", true],
      dangerMode: true,
    })

    .then((isConfirmed) => {
      if (!isConfirmed) return;
      http.delete(
        `/texts/delete/${activeRow.id}`,
        async (data) => {
          await handleSuccess(data, true);
          window.location.replace('/texts');
        },
        (error) => handleError(error, true),
      );
    });
  };
  
  /*////////////////////////////////////////*/
  function checkNotEmptyArray() {
    if (!Array.isArray(selectedObject) || selectedObject.length <= 0) {
      handleError("@(#errorSelectionEmpty)");
      return false;
    };
    return true;
  };
  
  /*////////////////////////////////////////*/
  new Grid({
    ...gridOptions,
    data: data,
    storageId: "texts_grid",
    columns: [
      {
        id: 'content',
        name: "@(#text)",
        maxDisplayLength: 50,
        maxDisplayLengthString: "@(#readMore)",
        maxDisplayLengthFn: (id) => window.location.href = `/texts/edit/${id}`,
      },
      {
        id: 'createdAt',
        name: "@(#creationDate)",
      },
      { 
        id: 'updatedAt',
        name: "@(#modificationDate)",
      },
    ],
    keyNav: {
      enterFn: editObjectWithEnterKey,
      deleteFn: deleteObjectWithDeleteKey,
    },
    selection: {
      ...gridOptions.selection,
      fn: (selection) => {
        selectedObject = selection;
        console.log(selectedObject);
      },
    },
    pagination: {
      ...gridOptions.pagination,
      page: @{model.page},
      limitPerPage: @{model.limit},
      pagesLabels: {
        page: "@(#page)",
        firstPage: "@(#firstPage)",
        lastPage: "@(#lastPage)",
        previousPage: "@(#previousPage)",
        nextPage: "@(#nextPage)",
      },
    },
  }).renderTable();
  
  /*////////////////////////////////////////*/
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener('hide.bs.modal', function (event) {
      if (document.activeElement) {
        document.activeElement.blur();
      };
    });
  });

  /*////////////////////////////////////////*/
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>