<main>
  @{view('~texts/partials/texts_form+buttons')}
  <script>
    document.getElementById('form')
    .addEventListener('submit', function(e) {
      const formData = getFormData(e);
      if (!formData) return;
      const button = e.submitter;
      const action = button.dataset.action;
      http.put(
        '/texts/update/@{model.id}',
        {
          content: formData.get('content'),
        },
        async (data) => {
          if (action === 'save')
            handleSuccess(data, true);
          else if (action === 'saveAndClose') {
            await handleSuccess(data, true);
            window.location.replace('/texts');
          };
        },
        (error) => handleError(error, true),
      );
    });

    let saveTimeout;
    const statusEl = document.getElementById('save-status');

    document.getElementById('content')
    .addEventListener('input', function(e) {
      statusEl.innerText = 'Typing...';

      clearTimeout(saveTimeout);

      saveTimeout = setTimeout(async () => {
        statusEl.innerText = 'Saving...';

        const formData = new FormData(document.getElementById('form'));
        if (!formData) {
          statusEl.innerText = 'Error getting form data!';
          return;
        };

        try {
          http.put(
            '/texts/auto-save/@{model.id}',
            {
              content: formData.get('content'),
            },
            (data) => {
              statusEl.innerText = 'Saved!';  
            },
            (error) => {
              statusEl.innerText = 'Error saving!';
              handleError(error, true);
            },
          );
        }
        catch(e) {
          console.error(e);
          statusEl.innerText = 'Offline - Changes not saved!';
        };
      }, 2000);
    });
  </script>
</main>